.ui.main.tiered.menu.large
  .menu
    //- block for prepend/append/replace-able menu items
    block mainMenu
      .right.menu
        if (user)
          a.blue.item(href="/people/#{user.slug}") 
            i.user.icon
            | #{user.username}
          a.blue.item(href="/sessions/#{session.hash}?method=delete") 
            i.sign.out.icon
            | Logout
        else
          a.blue.item(href="/sessions")
            i.user.icon
            | Login &raquo;

  .ui.menu
    a.item.brand(href="/")
      i.game.icon
      | #{config.service.name}
    a.blue.item(href="/games") 
      i.game.icon 
      | Games
    a.blue.item(href="/people") 
      i.user.icon 
      | People
