extends layouts/default

block content
  .ui.padded.grid
    .five.column.row
      each game in games
        .column
          a.ui.card(href="/games/#{game.slug}")
            .image
              img(src="/files/#{game.image}")
            .content
              a.header #{game.name}
